#!/usr/bin/env bash
set -Eeuo pipefail

echo "Adding mkhomedir to PAM configuration"
DEBIAN_FRONTEND=noninteractive pam-auth-update --remove passwdqc --enable mkhomedir
chmod 644 /etc/nsswitch.conf

build_timestamp="$(date -u +%Y%m%d%H%M%S)"
echo "BUILD_TIMESTAMP=${build_timestamp}" >>/etc/os-release
