#!/usr/bin/env bash
set -Eeuo pipefail

echo "Adding mkhomedir to PAM configuration"
DEBIAN_FRONTEND=noninteractive pam-auth-update --remove passwdqc --enable mkhomedir
chmod 644 /etc/nsswitch.conf

# update service won't work
systemctl disable systemd-sysupdate-reboot.timer systemd-sysupdate.timer

