#!/usr/bin/env bash

set -eufo pipefail

#TODO: oras should be pulled in via pkg.include, but we don't have it for 1877, will be in the next release
pushd /tmp
wget https://packages.gardenlinux.io/gardenlinux/pool/f87336e4082eae86cf54b69082b68f5a2af218be30957448d0401dd559f6f8a2/oras_1.3.0-1gl0_amd64.deb
dpkg -i oras_1.3.0-1gl0_amd64.deb
rm oras_1.3.0-1gl0_amd64.deb
popd

systemctl enable systemd-bless-boot.service

update-kernel-cmdline

mkdir -p /efi

# Test for the systemd-pcrphase in case dracut changes it mind. #2108
[ -e /usr/lib/systemd/systemd-pcrphase ] || ln -s systemd-pcrextend /usr/lib/systemd/systemd-pcrphase

mkdir -p /var/etc.overlay /var/etc.overlay.workdir
