[Unit]
After=sysroot-var.mount
ConditionPathExists=/sysroot/var/devmode

[Mount]
What=overlay
Where=/sysroot/usr
Type=overlay
Options=lowerdir=/sysroot/usr,upperdir=/sysroot/var/usr.overlay,workdir=/sysroot/var/usr.overlay.workdir
