name: nightly
on:
  schedule:
    - cron: "0 6 * * *"
  # triggered manually
  workflow_dispatch:
    inputs:
      version:
        description: "Version to build"
        type: string
        default: now
jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
  build:
    needs: [checkout]
    uses: gardenlinux/gardenlinux/.github/workflows/build.yml@36078a576d0767433423289f2fa217b96cd951c9
    with:
      version: ${{ inputs.version || 'now' }}
      # to set target to "release" or "nightly" we need proper KMS secrets
      # have a look at gardenlinux/.github/workflows/github.mjs
      target: dev
      fail_fast: true
    # secrets:
      # aws_region: ${{ secrets.AWS_REGION }}
      # aws_kms_role: ${{ secrets.KMS_SIGNING_IAM_ROLE }}
      # aws_oidc_session: ${{ secrets.AWS_OIDC_SESSION }}
      # secureboot_db_kms_arn: ${{ secrets.SECUREBOOT_DB_KMS_ARN }}
  meta:
    name: Compute image metadata
    needs: [build]
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.meta.outputs.image_tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Compute image tag
        id: meta
        run: |
          IMAGE_TAG=$(.github/scripts/compute-image-tag.sh "${{ needs.build.outputs.version }}")
          echo "image_tag=${IMAGE_TAG}" >> $GITHUB_OUTPUT
  upload_oci:
    name: Run glcli to publish to OCI
    needs: [build]
    # use custom upload_oci.yml as we do not sign the images
    # uses: gardenlinux/gardenlinux/.github/workflows/upload_oci.yml@36078a576d0767433423289f2fa217b96cd951c9
    uses: ./.github/workflows/upload_oci.yml
    with:
      version: ${{ needs.build.outputs.version }}
  test:
    name: Test nightly image
    needs: [meta, upload_oci]
    uses: ./.github/workflows/test.yml
    with:
      image_tag: ${{ needs.meta.outputs.image_tag }}
