name: nightly
on:
  schedule:
    - cron: "0 6 * * *"
  # triggered manually
  workflow_dispatch:
    inputs:
      version:
        description: "Version to build"
        type: string
        default: now
jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
  build:
    needs: [checkout]
    uses: gardenlinux/gardenlinux/.github/workflows/build.yml@3d56ba627f7f471e64f36608ffbc84a441d309d9
    with:
      version: ${{ inputs.version || 'now' }}
      # to set target to "release" or "nightly" we need proper KMS secrets
      # have a look at gardenlinux/.github/workflows/github.mjs
      target: dev
      fail_fast: true
      #platform_test_build: false
    # secrets:
      # aws_region: ${{ secrets.AWS_REGION }}
      # aws_kms_role: ${{ secrets.KMS_SIGNING_IAM_ROLE }}
      # aws_oidc_session: ${{ secrets.AWS_OIDC_SESSION }}
      # secureboot_db_kms_arn: ${{ secrets.SECUREBOOT_DB_KMS_ARN }}
  meta:
    name: Compute image metadata
    needs: [build]
    runs-on: ubuntu-latest
    outputs:
      VERSION: ${{ needs.build.outputs.version }}
      DASHED_VERSION: ${{ steps.meta.outputs.dashed_version }}
      COMMIT_SHA: ${{ steps.meta.outputs.sha }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Derive image metadata
        id: meta
        run: |
          SHA="${GITHUB_SHA::8}"
          echo "sha=${SHA}" >> $GITHUB_OUTPUT
          VERSION="${{ needs.build.outputs.version }}"
          DASHED_VERSION=${VERSION//./-}
          echo "dashed_version=${DASHED_VERSION}" >> $GITHUB_OUTPUT
  upload_oci:
    name: Run glcli to publish to OCI
    needs: [build]
    # use custom upload_oci.yml as we do not sign the images
    # uses: gardenlinux/gardenlinux/.github/workflows/upload_oci.yml@3d56ba627f7f471e64f36608ffbc84a441d309d9
    uses: ./.github/workflows/upload_oci.yml
    with:
      version: ${{ needs.build.outputs.version }}
  test:
    name: Test nightly image
    needs: [meta, upload_oci]
    uses: ./.github/workflows/test.yml
    with:
      image_tag: "${{ needs.meta.outputs.VERSION }}-metal-sci-usi-amd64-${{ needs.meta.outputs.DASHED_VERSION }}-${{ needs.meta.outputs.COMMIT_SHA }}"
