name: test hypervisor capabilities
on:
  push:
    branches:
      - feat/ci-test-cloud-hypervisor
  workflow_run:
    workflows:
      - nightly
    types:
      - completed
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Image tag to test (must be usi-sci)"
        type: string
        default: ""
  workflow_call:
    inputs:
      image_tag:
        description: "Image tag to test (must be usi-sci)"
        type: string
        required: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Dependencies
        uses: ./.github/actions/test/integration/dependencies
      - name: Obtain newest Tag from GHCR
        id: fetch_tag
        if: ${{ inputs.image_tag == '' || github.event_name == 'workflow_run' || github.event_name == 'push' }}
        run: |
          latest_tag=$(oras repo tags ghcr.io/gardenlinux/gardenlinux-ccloud | grep -E '^[0-9]+\.[0-9]+\.[0-9]+-metal-sci-usi-amd64-[0-9]+-[0-9]+-[0-9]-[0-9a-f]{8}$' | sort -r | head -n 1)
          echo $latest_tag
          echo "latest_tag=$latest_tag" >> $GITHUB_ENV
      - name: Build
        uses: ./.github/actions/test/integration/build
        with:
          image_tag: ${{ env.latest_tag || inputs.image_tag }}
      - name: Setup
        uses: ./.github/actions/test/integration/setup
      - name: Test QEMU
        uses: ./.github/actions/test/integration/test/qemu
      - name: Test CloudHypervisor
        uses: ./.github/actions/test/integration/test/cloudhypervisor
      - name: Collect Debug Logs
        if: always()
        uses: ./.github/actions/test/integration/collect-logs
