name: upload to OCI
on:
  workflow_call:
    inputs:
      version:
        type: string
        default: today
      upload_version:
        type: string
        default: ""
      flavor_filter:
        type: string
        default: '--exclude "bare-*"'
jobs:
  generate_matrix_publish:
    name: Generate flavors matrix to publish
    uses: gardenlinux/gardenlinux/.github/workflows/build_flavors_matrix.yml@19d89d573a9c05266f3db9233f4d68aaa131ce12
    with:
      flags: '${{ inputs.flavor_filter }} --no-arch --json-by-arch --build --test'
  upload_gl_artifacts:
    name: upload to OCI
    needs: [ generate_matrix_publish ]
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    env:
      CNAME: ''
    permissions:
      id-token: write
      packages: write
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.generate_matrix_publish.outputs.matrix) }}
      max-parallel: 8
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # pin@v4.1.1
        with:
          submodules: true
      - uses: oras-project/setup-oras@v1
      - run: oras version
      - name: Install python-gardenlinux-lib
        uses: gardenlinux/python-gardenlinux-lib/.github/actions/setup@hotfix-disabled-python-cache-in-setup-action
      - name: Install cosign
        uses: sigstore/cosign-installer@v3.9.1
        with:
          cosign-release: 'v2.4.1'
      - name: Set flavor version reference
        run: |
          git rev-parse HEAD | cut -c1-8 | tee COMMIT
          echo "${{ inputs.version }}" | tee VERSION
      - name: Set CNAME
        run: |
          echo "CNAME=$(gl-features-parse --cname ${{ matrix.flavor }}-${{ matrix.arch }} cname)" | tee -a "$GITHUB_ENV"
      - uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # pin@v4.1.8
        with:
          name: build-${{ matrix.flavor }}-${{ matrix.arch }}
      - name: Push using the glcli util
        env:
          GL_CLI_REGISTRY_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GL_CLI_REGISTRY_USERNAME: ${{ github.repository_owner }}
        run: |
          mkdir "$CNAME"

          tar -C "$CNAME" -xzf "$CNAME.tar.gz"

          gl-oci push-manifest \
            --dir "${CNAME}" \
            --container "ghcr.io/${{ github.repository }}" \
            --arch ${{ matrix.arch }} \
            --version ${{ inputs.version }} \
            --cname "${CNAME}" \
            --cosign_file digest.txt \
            --manifest_file "oci_manifest_entry_${CNAME}.json"
      - name: Add additional semver tag
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | oras login -u ${{ github.repository_owner }} --password-stdin ghcr.io
          COMMIT_SHA_SHORT=$(git rev-parse HEAD | cut -c1-8)
          # Keep CNAME reference
          CNAME2=${CNAME//_/-}
          # Remove version from CNAME
          CNAME2=${CNAME2//-${{ inputs.version }}/}
          # Remove commit sha from CNAME
          CNAME2=${CNAME2//-${COMMIT_SHA_SHORT}/}
          # 8 charachter commit hash
          DASHED_VERSION=${{ inputs.upload_version || inputs.version }}
          DASHED_VERSION=${DASHED_VERSION//./-}

          echo "Adding additional tag: ${{ inputs.upload_version || inputs.version }}-${CNAME2}-${DASHED_VERSION}-${COMMIT_SHA_SHORT}"
          oras tag ghcr.io/${{ github.repository }}:${{ inputs.version }}-${CNAME}-${{ matrix.arch }} ${{ inputs.upload_version || inputs.version }}-${CNAME2}-${DASHED_VERSION}-${COMMIT_SHA_SHORT}
      - uses: actions/cache/save@5a3ec84eff668545956fd18022155c47e93e2684 # pin@v4.2.3
        with:
          path: oci_manifest_entry_${{ env.CNAME }}.json
          key: oci-manifest-${{ matrix.flavor }}-${{ matrix.arch }}-${{ github.run_id }}
      - name: Output digest to be signed
        run: |
          cat digest.txt

  upload_manifests_entries:
    needs: [ generate_matrix_publish, upload_gl_artifacts ]
    name: upload manifest entries into OCI index
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    env:
      CNAME: ''
    permissions:
      id-token: write
      packages: write
      actions: write
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.generate_matrix_publish.outputs.matrix) }}
      max-parallel: 1
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # pin@v4.1.1
        with:
          submodules: true
      - name: Install python-gardenlinux-lib
        uses: gardenlinux/python-gardenlinux-lib/.github/actions/setup@hotfix-disabled-python-cache-in-setup-action
      - name: Set flavor version reference
        run: |
          git rev-parse HEAD | cut -c1-8 | tee COMMIT
          echo "${{ inputs.version }}" | tee VERSION
      - name: Set CNAME
        run: |
          echo "CNAME=$(gl-features-parse --cname ${{ matrix.flavor }}-${{ matrix.arch }} cname)" | tee -a "$GITHUB_ENV"
      - uses: actions/cache/restore@5a3ec84eff668545956fd18022155c47e93e2684 # pin@v4.2.3
        with:
          path: oci_manifest_entry_${{ env.CNAME }}.json
          key: oci-manifest-${{ matrix.flavor }}-${{ matrix.arch }}-${{ github.run_id }}
      - name: Update index using glcli tool
        env:
          GL_CLI_REGISTRY_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GL_CLI_REGISTRY_USERNAME: ${{ github.repository_owner }}
        run: |
          mkdir manifests
          mv oci_manifest_entry_${CNAME}.json manifests/

          gl-oci update-index \
            --container "ghcr.io/${{ github.repository }}" \
            --version ${{ inputs.upload_version || inputs.version }} \
            --manifest_folder manifests
